@import "../../../styles/index";

.@{prefix}menu {
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  color: @menu-item-color;
  background-color: @menu-background;
  position: relative;
  .clearfix;
  // 所有 Menu.Item 组件样式
  &-item {
    &:hover, &.open, &.active {
     &-title {
        color: @menu-highlight-color;
      }
    }
    &-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;  
      &-icon {
        cursor: pointer;
        float: left;
        position: relative;
        display: block;
        height: @menu-item-height;
        line-height: @menu-item-height;
        font-size: @font-size-base;
        user-select:none;
        margin-right: 10px;
      }
    }
  }
  // 最上级 Menu.Item 组件样式
  & > .@{prefix}menu-item {
    display: block;
    padding: 0;
    & .@{prefix}menu-item-title {
      display: inline-block;
      padding: 0 3px;
      padding-left: 32px;
      height: @menu-item-height;
      line-height: @menu-item-height;
      &.open {
        background: #313131;
      }
    }
    & .sub-menu {

    }
  }

  


  
  // &-submenu {
  //   transition: border-color .3s @ease-in-out, background .3s @ease-in-out, padding .15s @ease-in-out;
  //   // padding-left: 20px;
  //   &-title {
  //     cursor: pointer;
  //     padding-right: 35px;
  //     padding-left: 20px;
  //     margin: 0;
  //     position: relative;
  //     display: block;
  //     white-space: nowrap;
  //     height: @menu-item-height;
  //     line-height: @menu-item-height;
  //     font-size: @font-size-base;
  //     user-select:none;
  //     &-arrow {
  //       position: absolute;
  //       top: 50%;
  //       width: 16px;
  //       height: 16px;
  //       text-align: center;
  //       margin-top: -8px;
  //       right: 15px;
  //       font-size: 14px;
  //     }
  //     &-icon {
  //       cursor: pointer;
  //       float: left;
  //       position: relative;
  //       display: block;
  //       height: @menu-item-height;
  //       line-height: @menu-item-height;
  //       font-size: @font-size-base;
  //       user-select:none;
  //       margin-right: 10px;
  //     }
  //   }
  //   &-title:hover {
  //     color: @menu-highlight-color;
  //   }
  // }
}

.@{prefix}menu-dark {
    background-color: @menu-background-dark;
    color: @menu-item-color-dark;
    .@{prefix}menu-submenu {
     background-color: @menu-submenu-background-dark;
    }
    .@{prefix}menu-item {
      background-color: @menu-submenu-background-dark;
    }
  }
